body{
    background-color: #282c34;
    font-size: 18px;
    font-weight: bolder;
}
.container {
    display: flex;
    max-width: 402px;
    margin: 0 auto;
    padding: 15px 15px;
    flex-wrap: wrap;
}
.blocks{
    border: 1px solid #61dafb;
}

.close {
    background-color: #61dafb;
    border: 1px solid #282c34;
    width: 60px;
    height: 60px;
    margin: 5px 5px 0 0;
    text-align: center;
    line-height: 60px;
    color: #61dafb;
}
.open{
    border: 1px solid #61dafb;
    width: 60px;
    height: 60px;
    margin: 5px 5px 0 0;
    line-height: 60px;
    color: #61dafb;
    text-align: center;
}



.reset{
    font-weight: bolder;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #282c34;
    border: 1px solid #61dafb;
    color: #61dafb;
}

.reset:hover{
    background-color: #61dafb;
    color: #282c34;
}